[submodule "project/search-a-star"]
	path = project/search-a-star
	url = https://github.com/marcelobns/search-a-star.git
[submodule "project/text-player"]
	path = project/text-player
	url = https://github.com/marcelobns/text-player.git
